.eatenPage {
    background-image: url('./eaten.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.eatenText {
    font-size: xx-large;
    color: red;
}
.homeBtn {
    background-color: red;
    width: 10rem;
    height: 3rem;
    border-radius: 8rem;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 40%;
    font-family: 'Creepster', cursive;
}
.infoBoxEaten {
    width: 40rem;
    height: 15rem;
    background-color: red;
    margin-top: 45%;
    margin-left: 25%;
    border: black solid 0.5rem;
    border-radius: 4rem;
}
.eatenTextTwo {
    font-size: larger;
}